html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: normal;
    scrollbar-color: brown pink;
}

::-webkit-scrollbar {
    width: 20px; 
    
    
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2.5px 2px rgb(0 , 0, 0 , 0.5);

}


::-webkit-scrollbar-thumb{
    /* background:linear-gradient(45deg , rgb(128, 51, 0) , rgb(197, 75, 75) ) ; */
    border-radius: 3px;
    background-image: linear-gradient(90deg, rgb(131, 68, 68) , rgb(75, 32, 32));

}
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

@media screen and (max-width:760px) {
    ::-webkit-scrollbar {
        width: 0px; 
        
    }
    
    
}