
body{
    font-family: 'Source Sans Pro', sans-serif;
}


.nav{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(90deg, rgb(131, 68, 68) , rgb(75, 32, 32));
    position: fixed;
    border-bottom: 2px solid black;
    z-index: 2;
    
    
    
}


a{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(90deg, rgb(85, 83, 83) , rgb(248, 186, 186));
    background-size:0% 2px;
    background-repeat: no-repeat;
    background-position:left bottom;
    transition: background-size 300ms ease;
    cursor: pointer;
    color:white;
}

a:hover{
    color:rgb(236, 144, 144);
    background-size: 100% 1px;
}

ul{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center
    
}

li{

    
    font-size: 25px;
    margin-top: 5px;
    display: inline-block; /* the default for span */
    width: 100px;
    /* height: 100px; */
    margin-left: 70px;
    margin-right: 70px;
    letter-spacing: 1px;
   


}




@media screen and (max-width: 1019.5px) {
 
   
.nav{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(90deg, rgb(126, 66, 66) , rgb(53, 21, 21));
    position: fixed;
  
    
}

li{

    
    font-size: 25px;
       
    display: inline; /* the default for span */
    width: 100px;
    /* height: 100px; */
    margin-left: auto;
    margin-right: auto;
    /* padding:10px; */
    position: relative;
  left: -24px;
    text-align: center;
    /* padding-top: 10px; */
    
    


}
@media screen and (max-width: 1020.5px) {

    
li{

    
    font-size: 25px;
       
    display: inline; /* the default for span */
    width: 100px;
    /* height: 100px; */
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    
    /* padding-top: 10px; */
    
    


}

}

    
  }


  @media screen and (max-width:580px) {

    li{

    
        font-size: 20px;
       
        display: inline; /* the default for span */
        width: 100px;
        /* height: 100px; */
        margin-left: auto;
        margin-right: auto;
        /* padding-top: 10px; */
        padding-right: 25px;
        position: relative;
        top:8px;
        right: 7px;
    
    
      
  }

  





}

@media screen and (max-width:768px){

    a:hover{
        color:rgb(236, 144, 144);
        background-size:0px;
        
    }
    .nav{
        width: 100%;
        height: 70px;
        background-image: linear-gradient(90deg, rgb(126, 66, 66) , rgb(53, 21, 21));
        position: fixed;
      
        
    }
    
    li{
    
        
        font-size: 22px;
           
        display: inline; /* the default for span */
        width: 100px;
        /* height: 100px; */
        margin-left: auto;
        margin-right: auto;
        padding:10px;
        position: relative;
        right: 17px;
        top: 8px;
        
        /* padding-top: 10px; */
        
        
    
    
    }

  
    


}