


 /*
.card{
width: 350px;
height: 450px;
background-image: linear-gradient(90deg, rgb(31, 28, 28) , rgb(29, 27, 27)); */
/*  */
#S{
  display: flex;
  text-align: center;
  justify-content: center;
   
   padding-bottom:10% ;
  
   display: flex;
   flex-direction: c;
   flex-flow: wrap;
   height: 100%;
   width: 100%;

  background-image: linear-gradient(90deg, rgb(65, 52, 52) , rgb(39, 27, 27));
   






}


.title{
  padding-top: 5%;
  color:white;
  text-shadow: 1px 8px 10px black;
}



.card{
  flex-basis: 51%;
  width: 0;
  margin-top: 10%;

  
  /* height: 40%;
  width: 40%; */
  background-color: rgb(49, 42, 42);
  padding-bottom: 5%;
  box-shadow: 3px 3px 15px black;
  /* display: flex;
  flex-direction: column;
  flex-flow: wrap;
   */
}

.skills {

  
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-attachment: #111;
  padding-bottom: 5%;
 
}

.skill-name{
  font-size:18px;
  font-weight: 700;
  color:#f1f1f1;
  text-transform: uppercase;
  margin:50px 0;


}

.skill-bar{
  height: 14px;
  background: #000000;
  border-radius: 3px;
  width: 350px;
}


.skill-per{
  height:14px;
  background: #d13639;
  border-radius: 3px;
  position: relative;
  /* animation: fillBars 2.5s 1; */
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding:4px 6px;
  background: #f1f1f1;
  font-size:12px;
  top:-35px;
  right:0;
  transform: translateX(50%);
  z-index: 1;
}



.skill-per::after{
  content:"";
  position: absolute;
  width:10px;
  height: 10px;
  background: #f1f1f1;
  top:-20px;
  right:0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;

}

.text-image1{
  padding-bottom: 150px;
  color:white;

 
  position: relative;
  top:110px;
  font-size: 17px;
  max-width:300px;

  /* max-width:200px; */
  color: white;
 text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
 
}
/* @keyframes fillBars{
  from{
    width: 0;

  }
  to{
    width: 100%;
  }
} */

.conatiner{
  height: 150%;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(65, 52, 52) , rgb(39, 27, 27));

  
}
.hr1{
  border:none;
  border-top-style: dotted;
   border-top-width: 14px;
   width: 10%;
  
   color: #e6b0b0;
margin: 80px auto;
box-shadow: 0 0px 200px rgb(245, 156, 156);

  


}

.hr{
  border:none;
  border-top-style: dotted;
   border-top-width: 14px;
   width: 10%;
   
   color: #e6b0b0;
/* margin: 80px auto; */
/* box-shadow: 0 0px 200px rgb(245, 156, 156); */





}


.Mommken:hover { 
    	transform: scale(1.1); 
    
     
    }

.Mommken {
  /* transform: rotate(270deg); */
  position: relative;
	transition: all .2s ease-in-out; 
  /* top:50px; */
  height: 550px;
  width: 550px;
  border-radius: 15%;
  box-shadow: 4px 4px 20px black;
  margin-top: 50px;
  /* display: flex;
  justify-content: center; */
  
  /* size: 20px; */
  

   
}
.experience{
  /* margin-top:10% ; */

  word-wrap:break-word;
  display: flex;
  text-align: center;
  justify-content: center; 

  flex-flow: wrap;


  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

 background-image: linear-gradient(90deg, rgb(65, 52, 52) , rgb(39, 27, 27));
  border-bottom: 1px solid black;

  
}

.text-image{
  /* float:right; */
  color:white;

 
  position: relative;
  top:110px;
  font-size: 17px;
  max-width:300px;

  /* max-width:200px; */
  color: white;
 text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom:200px ;
 
 
  
}






@media screen and (max-width: 735px) {



  

  .skill-bar{
    height: 14px;
    background: #000000;
    border-radius: 3px;
    width: 205px;
   
  }
  .Mommken {
    /* transform: rotate(270deg); */
    position: relative;
    
    /* top:0px; */
    height: 250px;
    width: 250px;
    border-radius: 15%;
    box-shadow: 4px 4px 20px black;
    /* display: flex;
    justify-content: center; */
    
    /* size: 20px; */
    
  
  }

  .title{

font-size: 25px;

  }
  .text-image{
    color:white;

 
    position: relative;
    top:50px;

    font-size: 17px;
    max-width:300px;
  
    /* max-width:200px; */
    color: white;
   text-align: center;
    letter-spacing: 1px;
    font-size: 20px;

  }

 

  .hr{
    border:none;
    border-top-style: dotted;
     border-top-width: 14px;
     width: 10%;
     
     color: #e6b0b0;
  margin: 40px auto;
  /* box-shadow: 0 0px 200px rgb(245, 156, 156); */
  
  
  
  
  
  }
  
 
  .skills {

  
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-attachment: #111;
    padding-bottom: 10%;
   
  }


  .card{
    flex-basis: 60%;
    width: 0;
    margin-top: 20%;
    
    /* height: 40%;
    width: 40%; */
    background-color: rgb(49, 42, 42);
    padding-bottom: 5%;
    box-shadow: 3px 3px 15px black;

    /* display: flex;
    flex-direction: column;
    flex-flow: wrap;
     */
  }


}






@media screen and (max-width:760px) {
  @media (hover: hover) {

    .Mommken:hover { 
    	transform: none; 
    
     
    }
  }
  
}
















/* @media  screen and (max-width:739.5px) {
  #skills {
      height: 140vh;
        padding-top: 30%;
  
      display: flex;
      text-align: center;
      justify-content: center; 
    
      height: 150%;
      width: 100%;
      display:flex;
      flex-direction: column;
      align-items: center;
      /* padding-top: 30%; */
      /* word-wrap:break-word; */
      

      
  /* }
}

  @media screen and (max-width:1459.5px) {

      #skills {
        
          padding-top: 15%;
          height: 100%;

          
          
      }
  
  


  }*/ 
